* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(211, 211, 211);
    min-height: 100vh;
}


main {
    width: 50vw;
}

h1 {
    border: 2px dashed red;
    width: 80%;
    font-size: 3rem;
    padding: 1rem;
}

p {
    font-size: 2rem;
    width: 40ch;
}